html {
font-size: 18px;
color: white;
background-color: black;
}

.container {
width: 960px;
margin: 0 auto;
display: flex;
}

.logo {
  display: flex;
  padding: 0.66rem 0rem;
  align-items: center;
 }

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.logo h3 {
font-size: 1rem;
padding: 0.66rem 0rem;
margin-left: 1rem;
font-family: Helvetica;
}

.banner {
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
height: 25rem;
background-size: cover;
display: flex;
}

.box {
font-family: Helvetica;
background-color: black;
width: 20rem;
margin-top: 9rem;
padding-top: 3rem;
padding-left: 3rem;
height: 9rem;
 }

.one {
font-size: 1rem;
font-style: bold;
}

.two {
margin-top: 0.25rem;
font-size: 2rem;
font-style: bold;
}

nav {
background-color: firebrick;
padding: 0.75;
}

nav ul {
padding: 2rem;
font-family: Helvetica;
display: flex;
list-style: none;
justify-content: space-between;
}
